@media screen and (max-width: 500px) {
    #titulo-equipe {
            margin-top: 20px;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    
        #titulo-equipe i {
            margin-right: 100px;
        }
    
        #titulo-equipe h3 {
            margin-right: 100px;
        }
    
        #equipe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        #equipe-ads,
        #equipe-jogos,
        #equipe-moda {
            margin-top: 40px;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: 20px;
            padding: 10px 20px;
            width: 290px;
        }
    
        .membros-equipe {
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            overflow-x: auto;
        }
    
        .membro-equipe {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 600;
            margin-right: 15px;
            justify-content: center;
            align-items: center;
        }
    
        .membro-equipe img {
            width: 60px;
            height: 60px;
            border-radius: 35px;
        }
    
        .membro-equipe span {
            margin-top: 10px;
            width: 70px;
            text-align: center;
        }
}