@media screen and (max-width: 500px) {
  .card-section{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
  }

  .row{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;   
  }

  .card{
    padding:5px ;
    width: 120px;
    height: 253px; 
    margin-right: 20px;
    border: 1px solid #ffffff;
  }
 
  .card img{
    height: 200px;
    width: 65px;
  }

  .titlle{
    font-size: 24px;
    margin-bottom: 30px;
    padding-top: 10px;
  }
  
  .titlle-look{
    font-size: 11px;
    text-align: left;
  }
}