* {
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 500px) {
    body {
        background-image: url(../static/background-site.png);
        background-position: center;
        
        margin: 0;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        /* Defina a altura do corpo como 100% da viewport */
    }

    #head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        /* Defina uma altura para o cabeçalho para evitar problemas de altura mínima. Ajuste conforme necessário. */
    }

    #menu {
        margin-top: 20px;
        /* Ajuste a margem superior do menu */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menu ul {
        list-style: none;
    }

    /* Estilos para os itens do menu */
    #menu li {
        font-size: 20px;
        font-weight: 400;
        margin-top: 30px;
        padding: 20px 50px;
        /* Defina uma borda inicial transparente */
        border-radius: 20px;
    }

    /* Estilos para as cores das bordas dos botões */
    #op-galeria {
        border: 2px solid #08F200;
        /* Cor da borda para o botão Galeria */
    }

    #op-processo {
        border: 2px solid #FF0293;
        /* Cor da borda para o botão Processo */
    }

    #op-manifesto {
        border: 2px solid #FE7000;
        /* Cor da borda para o botão Manifesto */
    }

    #op-equipe {
        border: 2px solid #009D61;
        /* Cor da borda para o botão Equipe */
    }

    #op-equipe {
        border: 2px solid #A904EA;
        /* Cor da borda para o botão Equipe */
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        /* Ajuste a margem superior do rodapé */
    }

    .redessociais {
        margin-top: 20px;
    }

    .redessociais ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    .redessociais li {
        font-size: 24px;
        margin-right: 20px;
    }

    .footer p {
        font-size: 16px;
        text-align: center;
        width: 350px;
        margin-top: 20px;
    }
}