<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe Desfile Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="equipe.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="titulo-equipe">
        <i class="fas fa-angle-left" href="../templates/index.html"></i>
        <h3>Nossa Equipe</h3>
    </div>
    <div id="foto-equipe">
        <img src="" alt="">
    </div>
    <div id="equipe">

        <div id="equipe-ads">
            <h4>Turma de ADS:</h4>
            <div class="membros-equipe">
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU" alt="">
                    <span id="nome-membro">Nome Completo</span>
                    </div>
            </div>
        </div>

        <div id="equipe-jogos">
            <h4>Turma de Jogos Digitais:</h4>
            <div class="membros-equipe">
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
            </div>
        </div>

        <div id="equipe-moda">
            <h4>Turma de Moda:</h4>
            <div class="membros-equipe">
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
                <div class="membro-equipe">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRkwGEcP6whll8IvtQisNI-UVnKlhQlDWBdud_3CQT6rfP1tekurRW0AstfUB8ZTpF6_z8&usqp=CAU"
                        alt="">
                    <span id="nome-membro">Nome Completo</span>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="redessociais">
            <ul>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>

</html>