<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Galeria</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/galeria.css">
</head>
<body>
  <p class="titlle">Coleção Pontes do Recife</p>
  <section class="card-section">
    <div class="row">
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
    </div>
  </section>
  <section class="card-section">
    <div class="row">
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
    </div>
  </section>
  <section class="card-section">
    <div class="row">
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
      <div class="card">
        <img src="../src/img/look1.png" alt="">
        <p class="titlle-look">Vestido Limoeiro</p>
      </div>
    </div>
  </section>
  <div class="footer">
    <div class="redessociais">
        <ul>
            <li><i class="fab fa-facebook"></i></li>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
    </div>
    <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
  </div>

  
</body>
</html>