<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desfile Maker VOl.2</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="head">
        <img src="./src/logo-recinplay.png" alt="logo-recnplay">
    </div>
    <div id="menu">
        <ul>
            <li id="op-galeria" href="../templates/galeria.html">Galeria</li>
            <li id="op-processo" href="../templates/processo.html">Processo Criativo</li>
            <li id="op-intereja" href="../templates/interacao.html">Interaja</li>
            <li id="op-manifesto" href="../templates/manifesto.html">Sobre o manifesto</li>
            <li id="op-equipe" href="../templates/equipe.html">Equipe Desfile Maker</li>
        </ul>
    </div>
    <div class="footer">
        <div class="redessociais">
            <ul>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>
</html>