<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipe Desfile Maker</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="processo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Outfit:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div id="titulo-processo">
        <i class="fas fa-angle-left" href="../templates/index.html"></i>
        <h3>De onde surgiu a ideia?</h3>
    </div>
    <div id="foto-equipe">
        <img src="" alt="">
    </div>
    
    <div id="processo">
        <div id="foto-processo">
            <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/0a/3d/d2/1f/getlstd-property-photo.jpg?w=500&h=400&s=1" alt="">
        </div>
        <div id="texto-processo">
            <p>Lorem ipsum dolor sit amet consectetur. Ac sodales risus fermentum eget enim urna senectus adipiscing. Ac sapien enim
            consectetur vestibulum lacus. Vestibulum pharetra eget leo at purus mauris at. Eleifend lacus senectus sed euismod. Sit
            elementum vitae tellus lorem sagittis enim. Adipiscing id eget aenean amet pharetra amet scelerisque ut a. Ut iaculis
            aenean amet placerat maecenas enim nulla non est. Mollis habitasse ante leo etiam.</p>
        </div>
    </div>

    <div class="footer">
        <div class="redessociais">
            <ul>
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-instagram"></i></li>
            </ul>
        </div>
        <p>2023 Todos os direitos reservados - <strong>Faculdade Senac</strong></p>
    </div>
</body>

</html>